altair 
attrs 
blinker 
Bottleneck 
brotlicffi 
cachetools 
certifi 
cffi 
charset-normalizer 
click 
gitdb 
GitPython 
idna 
Jinja2 
jsonschema 
jsonschema-specifications 
MarkupSafe 
mkl-service==2.4.0
mkl_fft 
mkl_random 
narwhals 
numexpr 
numpy 
packaging 
pandas 
pillow 
protobuf 
pyarrow 
pycparser 
PySocks 
python-dateutil 
pytz 
PyYAML 
referencing 
requests 
rpds-py 
setuptools==72.1.0
six 
smmap 
streamlit 
tenacity 
toml 
tornado 
typing_extensions 
tzdata 
urllib3 
watchdog 
wheel==0.45.1
